<form [formGroup]="personFormGroup" (ngSubmit)="save()">
  <div>

    <input formControlName="fullName">
    <div *ngIf="personFormGroup.controls.fullName.invalid">
      <ul>
        <li *ngFor="let errorName of getErrorsRules(personFormGroup.controls.fullName.errors)">{{errorName}}</li>
      </ul>
    </div>
  </div>
<div>
  <app-mulit-select-list formControlName="hobbies" header="Hobbies"></app-mulit-select-list>
</div>
  <div>
    <input formControlName="age" type="number">
    <div *ngIf="personFormGroup.controls.age.invalid">
      <ul>
        <li *ngFor="let errorName of getErrorsRules(personFormGroup.controls.age.errors)">{{errorName}}</li>
      </ul>
    </div>
  </div>


  <button type="button" (click)="addAddress()">Add address</button>
  <div *ngIf="addressGroups.length">
    <h2>Addresses</h2>
    <div *ngFor="let address of addressGroups;let index=index" [formGroup]="address">
      <label>Country</label>
      <input formControlName="country">
      <label>City</label>
      <input formControlName="city">
      <button type="button" (click)="removeAddress(index)">Remove</button>
      <hr>
    </div>
  </div>

  <div>
    <label>Is Admin:</label>
    <input formControlName="isAdmin" type="checkbox">
  </div>

  <div>
    <app-label-input formControlName="adminName" label="Admin name (test label):"></app-label-input>
  </div>

  <div>
    <button [disabled]="personFormGroup.invalid">Save</button>
  </div>

</form>

<ul>
  <li>Value : {{personFormGroup.value | json}}</li>
  <li>Valid : {{personFormGroup.valid}}</li>
  <li>Dirty : {{personFormGroup.dirty}}</li>
  <li>Enabled : {{personFormGroup.enabled}}</li>
</ul>


<table>
  <thead>
    <tr>
      <th>Original object</th>
      <th>Form Object</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <pre>{{personToEdit | json}}</pre>
      </td>
      <td>
        <pre>{{personFormGroup.value| json}}</pre>
      </td>
    </tr>
  </tbody>
</table>