.grid {
  display: grid;
  width: 100%;
  height: 90vh;
  grid-template-rows: 75% auto;
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 800px;
    }
  }
}
